# Java 编译产物
target/
*.class

# Maven 临时文件
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IDEA 个人配置 (通常不建议提交)
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# 系统临时文件
.DS_Store
Thumbs.db

# 本地数据存储 (避免提交 MinIO 的数据和向量库数据)
volumes/
tessdata/
E:/ScannerDrop/

# 编译生成的 JAR
*.jar
*.war
*.ear

# 日志
*.log
